body
{
    font-family:'Times New Roman', Times, serif;
    background-color: pink;
    text-align: left;
}

.caption
{
    font-size:15px;
    font-style:italics;
    padding-left:10px;
}

.title
{
    font-size:25px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    text-decoration:underline;
    text-align:center;
}
