body
{
    font-family:'Times New Roman', Times, serif;
    background-color: pink;
    text-align: left;
}

center
{
    font-family:'Times New Roman', Times, serif;
    background-color: pink;
    text-align: center;
}


.title
{
    font-size:25px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    text-decoration:underline;
}
