body{
    font-family:Calibri, sans-serif;
    background-color: aquamarine;
    text-align: left;
    
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 350px;
    margin-left: 350px;

}

#elephant2 {
   position:relative;
 }

#turtle2  {
    position:relative;
}
#donkey2  {
    position:absolute;
}
#llama2  {
    position:absolute;

}